<div id="main-content">
    <div class="context">
        <h3>Frameworks?</h3>
        <p>Framework é um conjunto de bibliotecas, que abordam funcionalidades, e estruturas, para o desenvolvimento de aplicações, a fim de fornecer soluções para um mesmo domínio de problema, permitindo a reutilização do seu código.</p>
    </div>

    <div id="grid-container">
        <div id="content-grid">
            <div class="grid-item">
                <h3>
                    Angular
                </h3>

                <p>
                    Framework é um conjunto de bibliotecas, que abordam funcionalidades, e estruturas, para o desenvolvimento de aplicações, a fim de fornecer soluções para um mesmo domínio de problema, permitindo a reutilização do seu código.
                </p>
            </div>

            <div class="grid-item">
                <h3>
                    React
                </h3>

                <p>
                    Framework é um conjunto de bibliotecas, que abordam funcionalidades, e estruturas, para o desenvolvimento de aplicações, a fim de fornecer soluções para um mesmo domínio de problema, permitindo a reutilização do seu código.
                </p>
            </div>
        </div>
    </div>
</div>
