<div id="hero">
    <div id="post-date">22-05-2023</div>
    
    <span id="post-title">
        <p>Frameworks Web Para 2024</p>
    </span>

    <img id="post-photo" src="../../assets/framework.png">

    <div id="post-author">
        <ul id="related">
            <div>
                <img id="profile-photo" src="../../assets/images.jpeg">
                <p class="nickname">&#64;elliot432</p>
            </div>
            
            <div>
                <p class="about">Explorador digital e arquiteto de códigos. Navego pelos cantos obscuros da rede, desvendando segredos digitais. Sou o hacker que dança entre os bits, moldando o virtual.</p>
            </div>
        </ul>
    </div>
</div>